params.dragen_version = '4.4.7'
params.dragen_container_map = [
    // Supported version format:  {major_num}.{minor_num}.{patch_num}-{hotfix_num}-{gHash}
    '4.3.6': "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/c3add40b-1be2-431d-a322-29529f7d2866:latest",
    '4.3.13': "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/59ec98ab-69e6-49d5-a0ed-861f5c1062dd:latest",
    '4.4.2': "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/d7426059-3c27-4e06-a36c-3d90238737e2:latest",
    '4.4.4': "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/b35eb8ce-3035-4796-896b-1b33b6a02c44:latest",
    '4.4.5': "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/12e86a9a-b0a4-4bec-b45e-7a60e3854356:latest",
    '4.4.5-44': "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/b2f6c1e9-b424-414a-aaae-b28558066d86:latest", //4.4.5-44-gde905ded
    '4.4.6': "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/1df60bef-1edb-4efc-a50c-8e9625b5e60d:latest", //4.4.6-annot
    '4.4.7': "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/ed69bf11-d106-4aa3-8ac6-1956287f5d32:latest", //4.4.7
    '4.5.0': "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/721e9426-b374-4682-8215-d1d3dde91c8f:latest", // 4.5.0-1304-gdc7cff1d
]
//params.bcl_container = "173606189969.dkr.ecr.us-east-1.amazonaws.com/dragen/bclconvert:4.5.0-1304-gdc7cff1d-45" // 4.5.0-1304

params.bcl_container = "102576526753.dkr.ecr.${CLOUD_REGION}.amazonaws.com/dragen/bclconvert:4.4.7-60"
params.aria2c_container = "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/4d55e2ae-1a08-420e-a614-3d5074e9bb45:latest"

params.dragen_tools_container = "102576526753.dkr.ecr.${CLOUD_REGION}.amazonaws.com/dragen/dragen_tools:4.4.0-beta.56-183"
params.imputation_container = "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/e9ba3e72-87b2-457f-8485-274e43de3d21:latest"
params.ph_container = "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/67fe4860-2720-405f-b3cd-f16053597aa6:latest" // built with dragen 4.4.4 base image
params.reviewer_container = "418834906489.dkr.ecr.us-east-1.amazonaws.com/reviewer:0.2.7"
params.public_s3_base_url = 'https://s3.${region_name}.amazonaws.com/${region_code}-prd-seq-hub-appdata'
params.script_utils_container = "079623148045.dkr.ecr.${CLOUD_REGION}.amazonaws.com/cp-prod/a44b499a-432a-46e1-8970-53b99a0c7227:latest" // 1.2.0 Archive S3

params.dragen_preset_size =
    System.getenv('ICA_DEDICATED_COMPUTE_TYPES')?.contains('fpga2-medium') ? 'fpga2-medium' : 'fpga-medium'
params.validate_pangenome_reference = false

params.setup_dragen_size = 'transfer-small'
params.setup_dragen_error_strat = 'retry'
params.error_strat = 'ignore'
workflow.onComplete = {
    assert (workflow.stats.ignoredCount == 0):
        "ERROR: Some samples did not complete successfully.  Please check summary.json and passfail.json for details."
}